# 빅데이터 중간고사
## 1번 문제

In [20]:
def quest1(a,k):
    """
    k : index. should be bigger than 0
    a : randomly chosen value
    """
    if k<1:
        return -1
    if int(k)!=k:
        return -1
    k0 = 1
    for i in range(0,k):
        k0 = (k0+a*1.0/k0)/2
    return k0

In [21]:
quest1(3,1)

2.0

## 2번 문제

In [27]:
import csv
import pandas as pd

In [29]:
allli=[]
with open('./data/dataSet.csv') as readfile:
    reader = csv.reader(readfile)
    for row in reader:
        allli.append(row)

In [105]:
"""
편하게 dataframe으로 하려고 처음 열에 index를 붙여줌
"""
with open('./data/dataSet1.csv','w') as writefile:
    writer = csv.writer(writefile)
    first=[]
    for i in range(0,1000):
        first.append(i)
    writer.writerow(first)
    for row in allli:
        writer.writerow(row)

In [33]:
data=pd.read_csv('./data/dataSet1.csv')

In [39]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,3972,6726,5629,6890,730,6557,2022,76,8463,8647,...,1364,3966,3366,5042,5,732,8277,126,7747,5471
1,28,-29,95,-59,26,22,-26,-76,-95,-11,...,27,60,49,-80,60,-97,-19,52,60,-25
2,28,66,-131,-157,-140,-103,-114,73,-193,-28,...,98,-43,96,-138,-78,-1,-180,29,-77,41
3,-28,-31,102,44,-18,-85,52,23,-89,-78,...,92,93,-25,33,-88,-59,-91,-6,-73,96
4,101,464,315,203,180,298,-192,350,445,-195,...,337,336,-183,415,366,35,271,12,459,3

In [37]:
data2 = data.transpose()

In [68]:
data2.head()

      0   1    2    3    4   5   6      7
0  3972  28   28  -28  101 -66 -57  424.2
1  6726 -29   66  -31  464  44  53  888.6
2  5629  95 -131  102  315  -6  83  281.9
3  6890 -59 -157   44  203  26  77  408.0
4   730  26 -140  -18  180  93  15 -174.0

In [67]:
xlist = []
for i in range(0,7):
    xlist.append(i)

In [59]:
X = data2[xlist]
X.head()

      0   1    2    3    4   5   6
0  3972  28   28  -28  101 -66 -57
1  6726 -29   66  -31  464  44  53
2  5629  95 -131  102  315  -6  83
3  6890 -59 -157   44  203  26  77
4   730  26 -140  -18  180  93  15

In [71]:
Y = data2[[6]]
Y.head()

    6
0 -57
1  53
2  83
3  77
4  15

In [77]:
from sklearn import linear_model
from sklearn.cross_validation import cross_val_score,cross_val_predict
from sklearn.metrics import mean_squared_error

In [78]:
reg = linear_model.LinearRegression()
predicted = cross_val_predict(reg, X,Y,cv=10)
print 'MSE - test: %s' % mean_squared_error( predicted, Y)

MSE - test: 2.37175256241e-27

In [103]:
all=0
wrong=0
for idx, data in enumerate(predicted):
    all+=1
    if round(float(Y.values[idx]),2)!=round(float(data),2):
        wrong+=1

In [104]:
print all,wrong

1000 0

## 결론
다 맞추는데 (실제 정확도 100%) python 내 float 수치 때문에 0으로 안나옴

때문에 round 둘째자리로 했더니 다 맞다고 나옴